import(magrittr)
import(data.table)
export(add_barplot)
export(add_boxplot)
export(add_density)
export(add_histogram)
export(add_chunk)
export(add_code)
export(add_dygraph)
export(add_table)
export(add_text)
export(add_title)
export(make_barplot)
export(make_boxplot)
export(make_dygraph)
export(make_density)
export(make_histogram)
export(make_title)
export(new_report)
export(plot_columns)
export(render_report)
export(report_columns)
